<h1>Listing randomisation_sessions</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @randomisation_sessions.each do |randomisation_session| %>
      <tr>
        <td><%= randomisation_session.name %></td>
        <td><%= link_to 'Show', randomisation_session %></td>
        <td><%= link_to 'Edit', edit_randomisation_session_path(randomisation_session) %></td>
        <td><%= link_to 'Destroy', randomisation_session, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Randomisation session', new_randomisation_session_path %>
